/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Inventory */
.inventory {
  max-width: 600px;
  margin: auto;
  border: 4px solid black;
  display: flex;
  gap: 25px;
}

.inventory-item {
  float: left;
  width: 30%;
  height: 90px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

a {
  color: black;
}

.name a {
  text-decoration: none;
  margin: auto;
  color: black;
}

.Description {
  float: right;
  color: black;
  width: 60%;
  line-height: 30px;
}
